# -*- coding: utf-8 -*-
# vim: ft=yaml
---
minio:
  lookup:
    pkg:
      name: minio-generic

  # Using bash package and udev service as an example. This allows us to
  # test the template formula itself. You should set these parameters to
  # examples that make sense in the contexto of the formula you're writing.
  pkg:
    name: minio-specific
  service:
    name: minio2

  user: minio
  group: minio

  disks:
    - /var/db/minio
    - /home/minio/photos

  listen_address: 127.0.0.1:9000
  logfile: /var/log/minio.log
